<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Find out your routine</title>
</head>
<body>
    <section class="start">
        <h1>Do you ever feel overwhelmed by the abundance of different skin care products?</h1>
        <p>It can be hard finding skin care products that suit you. The information, experiences and opinions found online can be a bit overwhelming. This quiz takes information from <a href="https://www.reddit.com/r/SkincareAddiction">/r/SkincareAddiciton,</a><a href="https://www.reddit.com/r/asianbeauty"> /r/asianbeauty</a> and multiple dermatoligist and skincare blogs.</p>
        <p>By answering a few questions you'll figure out the substances found in products that can help your skin issues and how to incorporate them into a routine.</p>
        <form action="/quiz/1">
            <input class="action-button" type="submit" value="Take the quiz"> 
            <button class="action-button-js" value="Take the quiz"></button>
        </form>

        <img src="../images/drown1white.svg" alt="">
    </section>
    <section class="questions">
        
    </section>
    <script src="../js/main.js"></script>
</body>
</html>