<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find out your routine</title>
</head>
<body>
        <h1>Start de quiz</h1>
        <a href="/quiz/1">quiz</a>
        
</body>
</html>