:root {
    --blue: #0062FF;
    --pink: #E63462;
    --dark: #333333;
    --headerfont: Raleway;
    --bodyfont: Raleway, PT Serif;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-serif-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Serif'), local('PTSerif-Regular'),
         url('../fonts/pt-serif-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-serif-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-serif-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-serif-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-serif-v10-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v13-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

section {
    max-width: 30em;
    margin: 0 auto;
}

body {
    background-color: #FFFFFF;
}

h1, h2 {
    color: var(--dark);
    font-weight: bold;
    font-family: Raleway, "Lucida Grande", Helvetica, sans-serif;
    font-family: var(--headerfont);
}

h2::after {
    content: "";
    width: 100%;
}

p {
    color: var(--dark);
    font-family: Raleway;
    font-family: var(--bodyfont);
}

section.start a {
    color: var(--pink);
}

.action-button {
    width: 11em;
    margin: 1em;
    padding: .6em;
    background-color: white;
    color: blue;
    border-radius: 20px;
    font-family: inconsolata;
    font-size: 1.3em;
}

img {
    width: 57%;
    bottom: 0;
    z-index: -1;
}

details.open summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/down-arrow.svg);
}

summary {
    font-weight: bold;
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}


.show {
    display: block;
}
.hide {
    display: none;
}

@supports (display: flex) {
    section.start {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}
@supports not (display: flex) {
    img {
      position: absolute;
      right: 30%;
    }
}

label {
    display: block;
}

input[type="submit"] {
    align-self: flex-end;
}

.checkbox-form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

 .checkbox-form input[type="checkbox"] {
    opacity: 0;
}

.checkbox-form label {
    position: relative;
    display: block;
    padding-left: 1em;
    width: 12em;
    margin: 1em;
}

.checkbox-form span::before,
.checkbox-form span::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox-form span::before{
    height: 16px;
    width: 16px;
    border: 1px solid;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 0px;
}

/*Checkmark of the fake checkbox*/
.checkbox-form span::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: 4px;
}

/*Hide the checkmark by default*/
.checkbox-form input[type="checkbox"] + span::after {
    opacity: 0;
    transition: .3s ease-in;
}

/*Unhide on the checked state*/
.checkbox-form input[type="checkbox"]:checked + span::after {
    content: "";
    opacity: 1;
}


@media only screen and (min-width: 60em) {
    
}



 @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

@supports (counter-reset: unset) {
    ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin: 0;
    padding: 0;
    }

    ol li {
    counter-increment: my-awesome-counter;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    }

    ol li h2::before {
    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 0.5rem;
    font-family: var(--headerfont);
    line-height: 1;
    }
}