
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Find out your routine</title>
</head>
<body>
    <section>
        <form name="skin_type" method="post" action="/quiz/3" id="form2">
            <H1>How would you describe your skin type?</H1>

            <input type="hidden" name="routine" value="<%- routine %>">
            
            <label><input type="radio" id="1" name="skin_type" value="oily" required>Oily</label>
            <details>
                <summary class="oily">?</summary>
                <p>Your skin gets shiny throughout the day</p>
                <p>Maecenas vel risus sit amet dui sollicitudin feugiat sed et metus.</p>
            </details>
            
            <label><input type="radio" id="2" name="skin_type" value="normal">Normal</label>
            <details>
                <summary class="normal">What is normal skin?</summary>
                <p>Your skin gets shiny throughout the day</p>
                <p>Maecenas vel risus sit amet dui sollicitudin feugiat sed et metus.</p>
            </details>
            
            <label><input type="radio" id="3" name="skin_type" value="dry">Dry</label>
            <details>
                <summary class="oily">What is oily skin?</summary>
                <p>Your skin gets shiny throughout the day</p>
                <p>Maecenas vel risus sit amet dui sollicitudin feugiat sed et metus.</p>
            </details>
            
            <label><input type="radio" id="4" name="skin_type" value="sensitive">Sensitive</label>
            <details>
                <summary class="oily">What is oily skin?</summary>
                <p>Your skin gets shiny throughout the day</p>
                <p>Maecenas vel risus sit amet dui sollicitudin feugiat sed et metus.</p>
            </details>
            
            <label><input type="radio" id="5" name="skin_type" value="combination">Combination</label>
            <details>
                <summary class="oily">What is oily skin?</summary>
                <p>Your skin gets shiny throughout the day</p>
                <p>Maecenas vel risus sit amet dui sollicitudin feugiat sed et metus.</p>
            </details>
            
            <input type="submit" value="submit">
        </form>
        <progress id="progress" max="4" value="1"></progress>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>