
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find out your routine</title>
</head>
<body>
    <H1>How would you describe your skin type?</H1>
    <form method="post" action="/quiz/3">

        <input type="hidden" name="routine" value="<%- routine %>">
        


        <input type="radio" id="1" name="skin_type" value="oily">
        <label for="oily">Oily</label>
        <input type="radio" id="2" name="skin_type" value="normal">
        <label for="normal">Normal</label>
        <input type="radio" id="3" name="skin_type" value="dry">
        <label for="dry">Dry</label>
        <input type="radio" id="3" name="skin_type" value="sensitive">
        <label for="sensitive">Sensitive</label>
        <input type="radio" id="3" name="skin_type" value="combination">
        <label for="combination">Combination</label>

        

        

        <a href="/quiz/1">go back</a>
        <input type="submit" value="submit">
    </form>

</body>
</html>